@mixin building($height, $width, $pos) {
  height: $height;
  width: $width;
  bottom: 55%;
  left: $pos;
  background: rgba(111, 111, 111, 0.5);
  border-right: 5px solid rgb(140, 0, 144);
}

html {
  overflow: hidden;
  margin: 0;
}

#cityScape {
  background: rgb(34, 0, 88);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  div {
    position: absolute;
  }

  
  #sun {
    right: 25px;
    top: 25px;
    width: 200px;
    height: 200px;
    border: 30px solid rgb(98, 0, 144);
    border-radius: 50%;
    background:rgb(140, 0, 144);
    
    &:after {
      content: '';
      position: absolute;
      top: -45px;
      left: -45px;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      border-radius: 50%;
      border: 30px solid rgb(67, 0, 121);
    }
  }
  :nth-child(2) {
    @include building(20%, 5%, 10%);
  }
  :nth-child(3) {
    @include building(35%, 5%, 20%);
  }
  :nth-child(4) {
    @include building(40%, 5%, 30%);
  }
  :nth-child(5) {
    @include building(15%, 5%, 40%);
  }
}

#foreground {
  position: absolute;
  top: 45%;
  left: 0;
  height: 55%;
  width: 100%;
  background:rgb(19, 0, 48);
}