.windows {
  position: absolute;
  top: 5px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 27px);
  overflow: hidden;
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
}

.windows::before {
  top: 5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(21, 21, 21, 0.3);
  -webkit-box-shadow: 0 12px rgba(21, 21, 21, 0.3), 0 24px rgba(21, 21, 21, 0.3), 0 36px rgba(21, 21, 21, 0.3), 0 48px rgba(21, 21, 21, 0.3), 0 60px rgba(21, 21, 21, 0.3), 0 72px rgba(21, 21, 21, 0.3), 0 84px rgba(21, 21, 21, 0.3), 0 96px rgba(21, 21, 21, 0.3), 0 108px rgba(21, 21, 21, 0.3), 0 120px rgba(21, 21, 21, 0.3), 0 132px rgba(21, 21, 21, 0.3), 0 144px rgba(21, 21, 21, 0.3), 0 156px rgba(21, 21, 21, 0.3), 0 168px rgba(21, 21, 21, 0.3), 0 180px rgba(21, 21, 21, 0.3), 0 192px rgba(21, 21, 21, 0.3), 0 204px rgba(21, 21, 21, 0.3), 0 216px rgba(21, 21, 21, 0.3), 0 228px rgba(21, 21, 21, 0.3), 0 240px rgba(21, 21, 21, 0.3), 0 252px rgba(21, 21, 21, 0.3), 0 264px rgba(21, 21, 21, 0.3), 0 276px rgba(21, 21, 21, 0.3), 0 288px rgba(21, 21, 21, 0.3), 0 300px rgba(21, 21, 21, 0.3);
          box-shadow: 0 12px rgba(21, 21, 21, 0.3), 0 24px rgba(21, 21, 21, 0.3), 0 36px rgba(21, 21, 21, 0.3), 0 48px rgba(21, 21, 21, 0.3), 0 60px rgba(21, 21, 21, 0.3), 0 72px rgba(21, 21, 21, 0.3), 0 84px rgba(21, 21, 21, 0.3), 0 96px rgba(21, 21, 21, 0.3), 0 108px rgba(21, 21, 21, 0.3), 0 120px rgba(21, 21, 21, 0.3), 0 132px rgba(21, 21, 21, 0.3), 0 144px rgba(21, 21, 21, 0.3), 0 156px rgba(21, 21, 21, 0.3), 0 168px rgba(21, 21, 21, 0.3), 0 180px rgba(21, 21, 21, 0.3), 0 192px rgba(21, 21, 21, 0.3), 0 204px rgba(21, 21, 21, 0.3), 0 216px rgba(21, 21, 21, 0.3), 0 228px rgba(21, 21, 21, 0.3), 0 240px rgba(21, 21, 21, 0.3), 0 252px rgba(21, 21, 21, 0.3), 0 264px rgba(21, 21, 21, 0.3), 0 276px rgba(21, 21, 21, 0.3), 0 288px rgba(21, 21, 21, 0.3), 0 300px rgba(21, 21, 21, 0.3);
}

.windows::after {
  top: 0;
  left: 0;
  width: 6px;
  height: 3px;
}

html {
  overflow: hidden;
  margin: 0;
}

#cityScape {
  background: radial-gradient(circle farthest-side at 92vw 9vh, #3e0079, #1b0146);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45vh;
}

#cityScape div {
  position: absolute;
}

#cityScape #sun {
  right: 3vw;
  top: 3vh;
  width: calc(5vw + 5vh);
  height: calc(5vw + 5vh);
  border: 30px solid #620090;
  border-radius: 50%;
  background: #9f00a5;
}

#cityScape #sun:after {
  content: '';
  position: absolute;
  top: -45px;
  left: -45px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border-radius: 50%;
  border: 30px solid #430079;
}

#cityScape :nth-child(2) {
  height: 40%;
  width: 6%;
  bottom: 0;
  left: 10%;
  background: #636363;
  border-right: 5px solid #8c0090;
  border-top: 3px solid #5c005f;
  z-index: 1;
}

#cityScape :nth-child(3) {
  height: 75%;
  width: 5%;
  bottom: 0;
  left: 15%;
  background: rgba(99, 99, 99, 0.8);
  border-right: 5px solid rgba(140, 0, 144, 0.8);
  border-top: 3px solid rgba(92, 0, 95, 0.8);
  z-index: 0.8;
}

#cityScape :nth-child(4) {
  height: 55%;
  width: 5%;
  bottom: 0;
  left: 25%;
  background: #636363;
  border-right: 5px solid #8c0090;
  border-top: 3px solid #5c005f;
  z-index: 1;
}

#cityScape :nth-child(5) {
  height: 65%;
  width: 5%;
  bottom: 0;
  left: 28%;
  background: rgba(99, 99, 99, 0.8);
  border-right: 5px solid rgba(140, 0, 144, 0.8);
  border-top: 3px solid rgba(92, 0, 95, 0.8);
  z-index: 0.8;
}

#cityScape :nth-child(6) {
  height: 45%;
  width: 5%;
  bottom: 0;
  left: 35%;
  background: #636363;
  border-right: 5px solid #8c0090;
  border-top: 3px solid #5c005f;
  z-index: 1;
}

#cityScape :nth-child(7) {
  height: 85%;
  width: 5%;
  bottom: 0;
  left: 38%;
  background: rgba(99, 99, 99, 0.8);
  border-right: 5px solid rgba(140, 0, 144, 0.8);
  border-top: 3px solid rgba(92, 0, 95, 0.8);
  z-index: 0.8;
}

#cityScape :nth-child(8) {
  height: 75%;
  width: 5%;
  bottom: 0;
  left: 45%;
  background: #636363;
  border-right: 5px solid #8c0090;
  border-top: 3px solid #5c005f;
  z-index: 1;
}

#cityScape :nth-child(9) {
  height: 65%;
  width: 5%;
  bottom: 0;
  left: 48%;
  background: rgba(99, 99, 99, 0.8);
  border-right: 5px solid rgba(140, 0, 144, 0.8);
  border-top: 3px solid rgba(92, 0, 95, 0.8);
  z-index: 0.8;
}

#cityScape :nth-child(10) {
  height: 55%;
  width: 5%;
  bottom: 0;
  left: 55%;
  background: #636363;
  border-right: 5px solid #8c0090;
  border-top: 3px solid #5c005f;
  z-index: 1;
}

#cityScape :nth-child(11) {
  height: 45%;
  width: 5%;
  bottom: 0;
  left: 58%;
  background: rgba(99, 99, 99, 0.8);
  border-right: 5px solid rgba(140, 0, 144, 0.8);
  border-top: 3px solid rgba(92, 0, 95, 0.8);
  z-index: 0.8;
}

#foreground {
  width: 100vw;
  height: 100vh;
  -webkit-perspective: 200px;
          perspective: 200px;
}

#foreground #grid {
  position: absolute;
  top: 25%;
  left: -75%;
  height: 77.793%;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  width: 250%;
  background: #130030;
}

#foreground #grid .line {
  position: absolute;
  background: rgba(87, 193, 232, 0.35);
  -webkit-box-shadow: 0px 0px 5px #620090;
          box-shadow: 0px 0px 5px #620090;
}

#foreground #grid .vertical .line {
  top: 0;
  left: 0;
  bottom: 0;
  width: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#57c1e8));
  background: linear-gradient(top, rgba(255, 255, 255, 0), #57c1e8);
}

#foreground #grid .vertical .line:nth-child(1) {
  left: 20%;
}

#foreground #grid .vertical .line:nth-child(2) {
  left: 25%;
}

#foreground #grid .vertical .line:nth-child(3) {
  left: 30%;
}

#foreground #grid .vertical .line:nth-child(4) {
  left: 35%;
}

#foreground #grid .vertical .line:nth-child(5) {
  left: 40%;
}

#foreground #grid .vertical .line:nth-child(6) {
  left: 45%;
}

#foreground #grid .vertical .line:nth-child(7) {
  left: 50%;
}

#foreground #grid .vertical .line:nth-child(8) {
  left: 55%;
}

#foreground #grid .vertical .line:nth-child(9) {
  left: 60%;
}

#foreground #grid .vertical .line:nth-child(10) {
  left: 65%;
}

#foreground #grid .vertical .line:nth-child(11) {
  left: 70%;
}

#foreground #grid .vertical .line:nth-child(12) {
  left: 75%;
}

#foreground #grid .vertical .line:nth-child(13) {
  left: 80%;
}

#foreground #grid .vertical .line:nth-child(14) {
  left: 85%;
}

#foreground #grid .vertical .line:nth-child(15) {
  left: 90%;
}

#foreground #grid .vertical .line:nth-child(16) {
  left: 15%;
}

#foreground #grid .horizontal .line {
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 2;
  background: #57c1e8;
}

#foreground #grid .horizontal .line:nth-child(1) {
  top: 0%;
  opacity: 0.1;
}

#foreground #grid .horizontal .line:nth-child(2) {
  top: 10%;
  opacity: 0.1;
}

#foreground #grid .horizontal .line:nth-child(3) {
  top: 20%;
  opacity: 0.2;
}

#foreground #grid .horizontal .line:nth-child(4) {
  top: 30%;
  opacity: 0.3;
}

#foreground #grid .horizontal .line:nth-child(5) {
  top: 40%;
  opacity: 0.4;
}

#foreground #grid .horizontal .line:nth-child(6) {
  top: 50%;
  opacity: 0.5;
}

#foreground #grid .horizontal .line:nth-child(7) {
  top: 60%;
  opacity: 0.6;
}

#foreground #grid .horizontal .line:nth-child(8) {
  top: 70%;
  opacity: 0.7;
}
/*# sourceMappingURL=index.css.map */